
.container {
  background: #ffffff;
  margin: 2em 0;
  padding: 0;
}

.titleContainer {
  padding: 1em;
}

.titleContainer:hover {
  background: #f6f6f6;
}

.title {
  display: flex;
  align-items: center;
}
.title h1, .title h2 {
  margin: 0;
  font-family: 'News Cycle', sans-serif;
}
.title h1 {
  font-size: 1.4em;
}
.title h2 {
  font-size: 1.2em;
}
.title a {
  color: #39354b;
  text-decoration: none;
}

.titleContent {
  flex: 11;
}
.titleButton {
  flex: 1;
  text-align: center;
  font-size: 2em;
}
.titleButton button {
  background: none;
  border: 0;
}

.content {;
}

.collapsibleContent {
  margin-top: 0em;
  border-top: 1px solid #ece7f0;
  padding: 1em;
}

.collapsibleContent pre {
  margin: 0;
}

.collapsibleContent h3 {
  margin-top: 0;
}
