.container {
  display: flex;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

.item a {
  color: #555555;
}
.itemActive a {
  color: #a6cf39;
}

.item .container::before {
  content: '>';
  margin-right: 1em;
}
