.title {
  display: block;
  font-size: 2em;
  margin: 0;
  font-weight: 100;
  padding: 1em 0.5em 0;
  font-family: 'News Cycle', sans-serif;
  line-height: 2em;
}

.title, .title a {
  background: #a6cf39;
  color: #39354b;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0 0 0.5em;
}

.item {
  display: block;
  list-style: none;
}

.item a {
  padding: 0.2em 0;
  display: block;
  color: #39354b;
  text-decoration: none;
}

.item mark {
  background: #a6cf39;
  color: #fff;
}

.search {
  position: relative;
}

.search input {
  padding: 1em 3em 1em 1em;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  font-size: 1em;
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  border: 0;
  background: none;
  color: #aaa;
  cursor: pointer;
}

.activeItem > a {
  font-weight: bold;
  color: #a6cf39;
}

.fade {
  opacity: 0.5;
}

.list {
  padding-left: 1em;
}
