body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.nav {
  flex: 1;
  background: #e0e0e0;
  overflow: auto;
  border-right: 1px solid rgba(200, 200, 200, 0.5)
}

.contentContainer {
  flex: 4;
  background: #ffffff;
  overflow: auto;
}

.content {
  padding: 1em 2em;
}
