body {
  margin: 0;
}

:global #container {
  background: #ece7f0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5em;
  font-size: 14pt;
  color: #39354b;
}

pre {
  font-size: 11pt;
}

a {
  color: #a6cf39;
}

button, input {
  font-size: inherit;
}

p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

:global .material-icons {
  font-size: inherit !important;
  vertical-align: middle;
}

.container {
  display: flex;
  flex-direction: row;
  border-right: 0.75rem solid #a6cf39;
  border-bottom: 0.75rem solid #a6cf39;
  box-sizing: border-box;
  height: 100vh;
}

.nav {
  flex: 1;
  background: #fff;
  overflow: auto;
}

.contentContainer {
  flex: 4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.horizontalNav {

}

.content {
  flex: 1;
  overflow: auto;
}
