.layoutContainer {
  height: calc(100vh - 1em);
  display: flex;
  flex-direction: column;
}

.navContainer {
  padding: 1em;
  background: #ffffff;
  display: flex;
  align-items: flex-start;
}

.backButton a {
  background: none;
  border: none;
  font-size: 2em;
  padding: 0;
  color: #a6cf39;
  text-decoration: none;
}

.mainNav {
  flex: 1
}

.contentContainer {
  flex: 1;
}

.contentContainer div {
  height: 100%;
}

.hiddenNavButton button {
  border: none;
  background: none;
  font-size: 1.5em;
  padding: 0;
  color: #a6cf39;
}
