.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0.5em;
  height: 5.8em;
  box-sizing: border-box;
}

.group {
  display: flex;
  align-items: center;
}

.item {
  margin: 0 1em;
}

.item input {
  width: 3em;
  text-align: right;
  padding: 0.5em;
  margin: 0.4em;
  background: none;
  border: 0;
}

.item input:hover {
  background: #ddd;
}
